services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: "TuContraseña123*"
      MYSQL_USER: "user"
      MYSQL_PASSWORD: "TuContraseña123*"
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql

volumes:
  mysql:
